extends base.pug

block scripts
    script.
        window.onload = function () {
            var chartData = !{JSON.stringify(chartData)};
            if (chartData) {
                google.charts.load("current", {packages: ["corechart"]});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    chartData.forEach(value => {
                        var data = google.visualization.arrayToDataTable(value.data);
                        var view = new google.visualization.DataView(data);
                        var chart = new google.visualization.PieChart(document.getElementById(value.elementId));
                        var options = {
                            // legend: 'none',
                            title: value.title,
                            height: 300,
                            legend: {position: 'bottom', maxLines: 2},
                            sliceVisibilityThreshold: .1,
                            pieHole: 0.4,
                        }
                        chart.draw(view, options);
                    })
                }
            }
        }

block content
    .uk-grid-divider(class='uk-child-width-1-3@s', uk-grid='')
        div#dependenciesChart
        div#nodeModulesChart
        div#customModulesChart
    ul(uk-accordion='multiple: true')
        li.uk-open
            a.uk-accordion-title(href='#') Dependencies
            div.uk-accordion-content
                table.uk-table.uk-table-divider.uk-table-hover.uk-table-small.uk-table-justify
                    thead
                        tr
                            th Module
                            th NPM Repo
                            th.uk-text-right Size on Disk
                            th.uk-text-right Size
                                |
                                |
                                a(href="https://www.npmjs.com/package/package-size", target='_blank')
                                    span(uk-icon="icon: warning; ratio: 0.8", uk-tooltip="Calculated with 'package-size'. Click for more info.")
                                // or info
                            //th Size [kB]
                            th.uk-text-right Minified
                                |
                                |
                                a(href="https://www.npmjs.com/package/package-size", target='_blank')
                                    span(uk-icon="icon: warning; ratio: 0.8", uk-tooltip="Calculated with 'package-size'. Click for more info.")
                            //th Minified [kB]
                            th.uk-text-right Gzipped
                                |
                                |
                                a(href="https://www.npmjs.com/package/package-size", target='_blank')
                                    span(uk-icon="icon: warning; ratio: 0.8", uk-tooltip="Calculated with 'package-size'. Click for more info.")
                            //th Gzipped [kB]
                            th.uk-text-center Module Imports
                    each val in dependencies
                        tr
                            td
                                a(href='modules/' + val.name + '.html')=val.name
                            td
                                //span(uk-icon='icon: forward')
                                a(href='https://www.npmjs.com/package/' + val.name, target='_blank')=val.sizeInfo.versionedName
                            //td=val.sizeInfo.size
                            td.uk-text-right #{val.sizeInfo.sizeOnDisk} kB
                            td.uk-text-right #{val.sizeInfo.sizeInKB} kB
                            //td=val.sizeInfo.minified
                            td.uk-text-right #{val.sizeInfo.minifiedInKB} kB
                            //td=val.sizeInfo.gzipped
                            td.uk-text-right #{val.sizeInfo.gzippedInKB} kB
                            td.uk-text-center
                                span.uk-badge=val.count
        li
            a.uk-accordion-title(href='#') Node Modules
            div.uk-accordion-content
                table.uk-table.uk-table-divider.uk-table-hover.uk-table-small.uk-table-justify
                    thead
                        tr
                            th Module
                            th NPM Repo
                            th.uk-table-shrink Module Imports
                    tbody
                        each val in nodeModules
                            tr
                                td
                                    a(href='modules/' + val.name + '.html')=val.name
                                td
                                    //span(uk-icon='icon: forward')
                                    a(href='https://www.npmjs.com/package/' + val.name, target='_blank') npm
                                td
                                    span.uk-badge=val.count
        li
            a.uk-accordion-title(href='#') Custom Modules
            div.uk-accordion-content
                table.uk-table.uk-table-divider.uk-table-hover.uk-table-small.uk-table-justify
                    thead
                        tr
                            th Module
                            th.uk-table-shrink Module Imports
                    tbody
                        tr
                            td no data
                        // each val in customModules
                        //     tr
                        //         td
                        //             val.name //a(href='modules/' + val.name + '.html')=val.name
                        //         td
                        //             span.uk-badge=val.count